<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner %>
</p>

<p>
  <strong>Medical Conditions:</strong>
  <%= @dog.med_cond %>
</p>

<p>
  <strong>Vetrinarian:</strong>
  <%= @dog.vet %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @dog.dob %>
</p>

<p>
<strong>In Daycare</strong>
<%= @dog.in_daycare %>
</p>

<p>
<%= image_tag @dog.avatar.url(:medium), class: 'img-rounded' %>
</p>

<%= link_to fa_icon('edit', text: 'Edit'), edit_dog_path(@dog),class: 'btn btn-primary btn-sm' %>
<%= link_to fa_icon('chevron-left', text:'Back'), dogs_path,class: 'btn btn-primary btn-sm' %>
